extends layout

block content
	h1= title
	p Welcome to asdsd #{title}
	script(type="text/javascript", src="/socket.io/socket.io.js")
	script.
		console.log("Heyo");
		var socket = io.connect('http://localhost:3000');
		socket.on('main_response', function(data){
			console.log("Data what: " + data);
		});
		function emit(){
			socket.emit('main', { name: 'mike'});
		}
		


	button(type="submit", onclick="emit()") Button
